<section class="richtigen">
    <div class="container-xxl">
        <div class="row">
            <div class="col col-md-6 pt-5 ps-5">
                <div class="card border-0 text-muted mt-4 pt-2 px-3">
                    <img src="@img/logo.webp" class="img-fluid mt-1 d-block ms-md-3 me-md-auto richtigen__logo" alt="logo" title="logo">
                    <div class="card-body text-richtigen">
                        <p class="card-text fs-25 mb-4">Wie Sie bereits wissen, bieten wir bei MAUNAWAI eine große Auswahl an
                            Wasserfiltern an. Unsere Filter halten lästigen Keime und unerwünschten Rückstände von
                            Antibiotika und anderen Arzneimitteln, Pestiziden und Herbiziden fern, damit Ihre
                            Trinkwasserversorgung die bestmögliche Qualität aufweist.
                        </p>
                        <p class="card-text fs-25">
                            Sie sind nicht bereit, in ein komplettes Filtersystem für Ihr Zuhause zu investieren? Kein
                            Problem! Wir haben für jeden Haushalt und jedes Büro den richtigen Filter. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>